@{
    ViewData["Title"] = "Home";
}
<h1>ABC Retail 2 Dashboard</h1>
<ul>
    <li><a href="/Customers">Manage Customers</a></li>
    <li><a href="/Products">Manage Products</a></li>
    <li><a href="/Media/Upload">Upload Media</a></li>
    <li><a href="/Queue">Queue Processor</a></li>
    <li><a href="/Files/Upload">Upload Contracts</a></li>
</ul>
