@model ABC_Retail2.Models.ProductEntity
<h2>Add Product</h2>
<form method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="Name" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input class="form-control" name="Description" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input class="form-control" name="Price" />
    </div>
    <div class="form-group">
        <label>Stock</label>
        <input class="form-control" name="StockLevel" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
